:root{
  --_gap: 2rem;
}

*{
  margin: 0;
  padding: 0;
}

html{
  color-scheme: dark;
}

body{
  display: grid;
  font-family: system-ui;
  font-size: 2.25rem;
  min-block-size: 100dvh;
  place-content: center;
}

nav ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  overflow: hidden;
  position: relative;
  padding: calc(var(--_gap) / 2);
}
nav li::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #fff;
  translate: var(--_translate, 0);
  scale: var(--_width, 0) 1;
  transition: scale 300ms var(--_scale-delay, 0ms),
              translate 500ms var(--_translate-delay, 0ms);
}
nav li:hover,
nav li:focus-within{
  --_width: 1;
} /* ":focus-within" se usa para que funcione con los cursores */

@supports selector(:has(h1)){
  nav li:hover + li{
    --_translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }
  nav li:has(+ :hover){
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }
/* }
nav li:hover + li{
  --_translate: -100%;
  --_scale-delay: 300ms;
  --_translate-delay: 200ms;
}
nav li:has(+ :hover){
  --_translate: 100%;
  --_scale-delay: 300ms;
  --_translate-delay: 200ms;
} */

nav a{
  position: relative;
  color: inherit;
  opacity: .7;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
nav a:hover,
nav a:focus-visible{
  opacity: 1;
}